<div class="form-class">
    <div class="form-image-bg">
        <div class="form-div">
            <label class="form-label" for="name">Your name: </label>
            <input class="form-control" id="name" [(ngModel)]="hero.name" placeholder="name">
        </div>
        <div class="form-div">
            <label class="form-label" for="email">Your email: </label>
            <input class="form-control" id="email" [(ngModel)]="hero.email" placeholder="email">
        </div>
        <div class="form-div">
            <label class="form-label" for="password">your password: </label>
            <input class="form-control" id="password" [(ngModel)]="hero.password" placeholder="password">
        </div>
        <div class="form-div">
            <label class="form-label" for="confirm password">Your confirm password: </label>
            <input class="form-control" id="confirm password" [(ngModel)]="hero.confirmPassword"
                placeholder="confirm password">
        </div>
    </div>
</div>