<h1>{{hero.name}}</h1>
<div class="form-class">
    <div>
        <div class="form-div">
            <label class="form-label" for="name">Hero name: </label>
            <input class="form-control" id="name" [(ngModel)]="hero.name" placeholder="name">
        </div>
        <div class="form-div">
            <label class="form-label" for="name">Hero email: </label>
            <input class="form-control" id="name" [(ngModel)]="hero.email" placeholder="name">
        </div>
        <div class="form-div">
            <label class="form-label" for="name">Hero password: </label>
            <input class="form-control" id="name" [(ngModel)]="hero.password" placeholder="name">
        </div>
        <div class="form-div">
            <label class="form-label" for="name">Hero confirm password: </label>
            <input class="form-control" id="name" [(ngModel)]="hero.confirmPassword" placeholder="name">
        </div>
    </div>
</div>